gallery-section {
    background-color: #efe9e9;
}

.color-bg {
    background-color: #f3f3f3;
    background-size: cover;
    background-position: top center;
}
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    /*cursor: pointer;*/
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.thumbnail img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.thumbnail:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.tz-gallery .thumbnail {
    background-color: rgba(255, 255, 255, 0.6) !important;
    padding: 0;
    margin-bottom: 80px;
    border: none;
}

.height-380 {
    height: 380px;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption {
    padding: 26px 30px;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}

.tz-gallery .caption p {
    font-size: 14px;
    color: #555553;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.zoom-in-hover {
    width: 100%;
    max-height: 220px;
    overflow:hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
}

.zoom-in-hover:hover .overlay {
    opacity: 1;
}

div#columns figure :hover .overlay {
    opacity: 1;
}


.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*=====================Gallery===================*/
#columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

div#columns figure {
    /*overflow: hidden;*/
    background: rgba(255,255,255,0.7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    margin: 0 2px 25px;
    padding-bottom: 10px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
    border-radius: 7px;
    transform: scale(1);
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

div#columns figure img {
    width: 100%;
    margin-bottom: 10px;
}

div#columns figure figcaption {
    padding: 10px;
    font-size: 1.2rem;
    color: #5e5e5e;
    text-decoration: none;
}

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

div#columns figure:hover{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #eec2c0;
    transform: scale(1.03);
}

a:hover{
    text-decoration: none; !important;
}

@media screen and (max-width: 750px) {
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
}